<header class="hide-on-print">
    <div id="blog-title">
        <a href="/">Vancir - Security vulnerability experience</a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tutorials.html">Tutorials</a></li>
            <li><a href="/tools.html">Tools</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/unpacking.html">Unpacking</a></li>
            <li><a href="/feed.xml">Rss</a></li>
        </ul>
    </nav>
</header>
